<img src="images/astradrel_ecommerce.png" style="height: 100px;" align=left> 
<img src="images/python_logo.png" style="height: 100px;" align=right>

This notebook perform data cleaning and transformation on raw dataset provided. The modified dataset were then converted into .csv format and loaded into Tableau for visualization purpose

In [2]:
# Import the necessary libraries

import pandas as pd
import numpy as np
import os

## Data Cleaning

In [3]:
os.getcwd()

'C:\\Users\\astra\\Desktop\\CADS Datastar\\StatWorks\\Statworks Data Analyst Assessement'

In [3]:
df_sales = pd.read_excel("raw_dataset/SalesData.xlsx")

In [4]:
column_list = list(df_sales.columns)

In [5]:
column_list

['Record No',
 'Order Id',
 'Name',
 'State',
 'Region',
 'Sales Total',
 'Gross Profit',
 'Discount',
 'Business Unit',
 'Product Group',
 'Product Line',
 'Product',
 'Order Priority',
 'Order Date',
 'Delivery Date',
 'Delivery Time',
 'Ship Container',
 'Market Segment',
 'Shipping Method',
 'Inventory Status',
 'Forecast Month',
 'Forecast Quarter',
 'Transaction (2)',
 'Filtered to at 9:47:57 AM (2)',
 'Profit Status (2)',
 'Gross Profit Percentage (2)',
 'Sales Total (Numeric) (2)',
 'Gross Profit (Numeric) (2)',
 'Loss Leaders vs Losers (2)',
 'Filtered out at 9:47:41 AM (2)',
 'Next Action (2)',
 'Profit as a Percent of Sales (2)',
 'Sales Total Percent Format (2)',
 'Gross Profit Percent Format (2)',
 'Comparison Period (2)',
 'Volume (2)',
 'Transaction (3)',
 'Time Period (2)',
 'Product hierarchy (2)',
 'Filtered to at 9:47:57 AM (3)',
 'Profit Status (3)',
 'Gross Profit Percentage (3)',
 'Sales Total (Numeric) (3)',
 'Gross Profit (Numeric) (3)',
 'Loss Leaders vs Losers (3)',
 'Filtered out at 2:36:28 PM (2)',
 'Next Action (3)',
 'Profit as a Percent of Sales (3)',
 'Sales Total Percent Format (3)',
 'Gross Profit Percent Format (3)',
 'Comparison Period (3)',
 'Volume (3)',
 'Products (2)',
 'Transaction',
 'Profit Status',
 'Gross Profit Percentage',
 'Sales Total (Numeric)',
 'Gross Profit (Numeric)',
 'Loss Leaders vs Losers',
 'Next Action',
 'Profit as a Percent of Sales',
 'Sales Total Percent Format',
 'Gross Profit Percent Format',
 'Comparison Period',
 'Volume']

In [6]:
df_sales.head()

,Record No,Order Id,Name,State,Region,Sales Total,Gross Profit,Discount,Business Unit,Product Group,...,Gross Profit Percentage,Sales Total (Numeric),Gross Profit (Numeric),Loss Leaders vs Losers,Next Action,Profit as a Percent of Sales,Sales Total Percent Format,Gross Profit Percent Format,Comparison Period,Volume
0,1,10000,Gilberto Matrejek,Mississippi,E S Cen,2302,1067.59,0.00,Technology,Computer Peripherals,...,1067.59,2302,1067.59,NaN,NaN,0.446614,2302,1067.59,Prior to Change,1
1,2,10000,Gilberto Matrejek,Mississippi,E S Cen,997,358.35,0.10,Technology,Computer Peripherals,...,358.35,997,358.35,NaN,NaN,0.394269,997,358.35,Prior to Change,1
2,3,10000,Gilberto Matrejek,Mississippi,E S Cen,2565,873.96,0.07,Technology,Telephones And Communication,...,873.96,2565,873.96,NaN,NaN,0.329563,2565,873.96,Prior to Change,1
3,4,10001,Caleb Weinbauer,Connecticut,N Eng,227,43.64,0.12,Office Supplies,Binders And Binder Accessories,...,43.64,227,43.64,NaN,NaN,0.214153,227,43.64,Prior to Change,1
4,5,10002,Ardith Carnero,Florida,S Atl,160,-107.36,0.10,Office Supplies,Paper,...,-107.36,160,-107.36,NaN,NaN,-0.557876,160,-107.36,Prior to Change,1

In [7]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28360 entries, 0 to 28359
Data columns (total 65 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Record No                         28360 non-null  int64
 1   Order Id                          28360 non-null  int64
 2   Name                              28360 non-null  object
 3   State                             28360 non-null  object
 4   Region                            28360 non-null  object
 5   Sales Total                       28360 non-null  int64
 6   Gross Profit                      28360 non-null  float64
 7   Discount                          28360 non-null  float64
 8   Business Unit                     28360 non-null  object
 9   Product Group                     28360 non-null  object
 10  Product Line                      28360 non-null  object
 11  Product                           28360 non-null  object
 12  Order Priority                    28360 non-null  object
 13  Order Date                        28360 non-null  datetime64[ns]
 14  Delivery Date                     28360 non-null  datetime64[ns]
 15  Delivery Time                     28360 non-null  int64
 16  Ship Container                    28360 non-null  object
 17  Market Segment                    28360 non-null  object
 18  Shipping Method                   28360 non-null  object
 19  Inventory Status                  28360 non-null  object
 20  Forecast Month                    28360 non-null  int64
 21  Forecast Quarter                  28360 non-null  int64
 22  Transaction (2)                   28360 non-null  int64
 23  Filtered to at 9:47:57 AM (2)     0 non-null      float64
 24  Profit Status (2)                 0 non-null      float64
 25  Gross Profit Percentage (2)       28360 non-null  float64
 26  Sales Total (Numeric) (2)         28360 non-null  int64
 27  Gross Profit (Numeric) (2)        28360 non-null  float64
 28  Loss Leaders vs Losers (2)        0 non-null      float64
 29  Filtered out at 9:47:41 AM (2)    0 non-null      float64
 30  Next Action (2)                   0 non-null      float64
 31  Profit as a Percent of Sales (2)  28360 non-null  float64
 32  Sales Total Percent Format (2)    28360 non-null  int64
 33  Gross Profit Percent Format (2)   28360 non-null  float64
 34  Comparison Period (2)             28360 non-null  object
 35  Volume (2)                        28360 non-null  int64
 36  Transaction (3)                   28360 non-null  int64
 37  Time Period (2)                   28360 non-null  object
 38  Product hierarchy (2)             28360 non-null  object
 39  Filtered to at 9:47:57 AM (3)     0 non-null      float64
 40  Profit Status (3)                 0 non-null      float64
 41  Gross Profit Percentage (3)       28360 non-null  float64
 42  Sales Total (Numeric) (3)         28360 non-null  int64
 43  Gross Profit (Numeric) (3)        28360 non-null  float64
 44  Loss Leaders vs Losers (3)        0 non-null      float64
 45  Filtered out at 2:36:28 PM (2)    28360 non-null  object
 46  Next Action (3)                   0 non-null      float64
 47  Profit as a Percent of Sales (3)  28360 non-null  float64
 48  Sales Total Percent Format (3)    28360 non-null  int64
 49  Gross Profit Percent Format (3)   28360 non-null  float64
 50  Comparison Period (3)             28360 non-null  object
 51  Volume (3)                        28360 non-null  int64
 52  Products (2)                      28360 non-null  object
 53  Transaction                       28360 non-null  int64
 54  Profit Status                     0 non-null      float64
 55  Gross Profit Percentage           28360 non-null  float64
 56  Sales Total (Numeric)             28360 non-null  int64
 57  Gross Profit (Numeric)            28360 non-null  float64
 58  Loss Leaders vs Losers            0 non-null      float64
 59  Next Action                       0 non-null      float64
 60  Profit as a Percent of Sales      28360 non-null  float64
 61  Sales Total Percent Format        28360 non-null  int64
 62  Gross Profit Percent Format       28360 non-null  float64
 63  Comparison Period                 28360 non-null  object
 64  Volume                            28360 non-null  int64
dtypes: datetime64[ns](2), float64(26), int64(18), object(19)
memory usage: 14.1+ MB

In [8]:
# drop columns that contain missing values
df_sales.isna().sum()

Record No                       0
Order Id                        0
Name                            0
State                           0
Region                          0
                               ..
Profit as a Percent of Sales    0
Sales Total Percent Format      0
Gross Profit Percent Format     0
Comparison Period               0
Volume                          0
Length: 65, dtype: int64

In [9]:
df_sales_modified = df_sales.dropna(axis=1,how='all')

In [10]:
df_sales_modified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28360 entries, 0 to 28359
Data columns (total 53 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Record No                         28360 non-null  int64
 1   Order Id                          28360 non-null  int64
 2   Name                              28360 non-null  object
 3   State                             28360 non-null  object
 4   Region                            28360 non-null  object
 5   Sales Total                       28360 non-null  int64
 6   Gross Profit                      28360 non-null  float64
 7   Discount                          28360 non-null  float64
 8   Business Unit                     28360 non-null  object
 9   Product Group                     28360 non-null  object
 10  Product Line                      28360 non-null  object
 11  Product                           28360 non-null  object
 12  Order Priority                    28360 non-null  object
 13  Order Date                        28360 non-null  datetime64[ns]
 14  Delivery Date                     28360 non-null  datetime64[ns]
 15  Delivery Time                     28360 non-null  int64
 16  Ship Container                    28360 non-null  object
 17  Market Segment                    28360 non-null  object
 18  Shipping Method                   28360 non-null  object
 19  Inventory Status                  28360 non-null  object
 20  Forecast Month                    28360 non-null  int64
 21  Forecast Quarter                  28360 non-null  int64
 22  Transaction (2)                   28360 non-null  int64
 23  Gross Profit Percentage (2)       28360 non-null  float64
 24  Sales Total (Numeric) (2)         28360 non-null  int64
 25  Gross Profit (Numeric) (2)        28360 non-null  float64
 26  Profit as a Percent of Sales (2)  28360 non-null  float64
 27  Sales Total Percent Format (2)    28360 non-null  int64
 28  Gross Profit Percent Format (2)   28360 non-null  float64
 29  Comparison Period (2)             28360 non-null  object
 30  Volume (2)                        28360 non-null  int64
 31  Transaction (3)                   28360 non-null  int64
 32  Time Period (2)                   28360 non-null  object
 33  Product hierarchy (2)             28360 non-null  object
 34  Gross Profit Percentage (3)       28360 non-null  float64
 35  Sales Total (Numeric) (3)         28360 non-null  int64
 36  Gross Profit (Numeric) (3)        28360 non-null  float64
 37  Filtered out at 2:36:28 PM (2)    28360 non-null  object
 38  Profit as a Percent of Sales (3)  28360 non-null  float64
 39  Sales Total Percent Format (3)    28360 non-null  int64
 40  Gross Profit Percent Format (3)   28360 non-null  float64
 41  Comparison Period (3)             28360 non-null  object
 42  Volume (3)                        28360 non-null  int64
 43  Products (2)                      28360 non-null  object
 44  Transaction                       28360 non-null  int64
 45  Gross Profit Percentage           28360 non-null  float64
 46  Sales Total (Numeric)             28360 non-null  int64
 47  Gross Profit (Numeric)            28360 non-null  float64
 48  Profit as a Percent of Sales      28360 non-null  float64
 49  Sales Total Percent Format        28360 non-null  int64
 50  Gross Profit Percent Format       28360 non-null  float64
 51  Comparison Period                 28360 non-null  object
 52  Volume                            28360 non-null  int64
dtypes: datetime64[ns](2), float64(14), int64(18), object(19)
memory usage: 11.5+ MB

In [11]:
# Columns that needed to be dropped due to redundancy and duplication

dropped_columns = ['Transaction (2)', 'Gross Profit Percentage (2)', 'Sales Total (Numeric) (2)', 
    'Gross Profit (Numeric) (2)', 'Profit as a Percent of Sales (2)', 'Filtered out at 2:36:28 PM (2)', 
    'Sales Total Percent Format (2)', 'Gross Profit Percent Format (2)', 
    'Comparison Period (2)', 'Volume (2)', 'Transaction (3)', 'Time Period (2)', 'Product hierarchy (2)', 
    'Gross Profit Percentage (3)', 'Sales Total (Numeric) (3)', 'Gross Profit (Numeric) (3)',  
    'Profit as a Percent of Sales (3)', 'Sales Total Percent Format (3)', 'Gross Profit Percent Format (3)', 'Comparison Period (3)', 'Volume (3)', 
    'Products (2)', 'Transaction', 'Gross Profit Percentage', 'Sales Total (Numeric)', 'Gross Profit (Numeric)', 
    'Sales Total Percent Format', 'Gross Profit Percent Format', 'Volume', 'Inventory Status', 'Comparison Period',
    'Delivery Time', 'Forecast Month', 'Forecast Quarter']

df_sales_modified = df_sales_modified.drop(columns=dropped_columns,axis=1)

In [12]:
# With the removal of the unnecessary columns from the dataset, the dataset only retain the relevant informations

print("The total number of columns before the removal is {}".format(df_sales.shape[1]))
print("The total number of columns after the removal is {}".format(df_sales_modified.shape[1]))

The total number of columns before the removal is 65
The total number of columns after the removal is 19

In [13]:
# Lets change the value for the order priority to be standardized with the rest of datasets

value_change = list(df_sales_modified['Order Priority'].unique())
value_change

['5-LOW', '3-MEDIUM', '4-NOT SPECIFIED', '2-HIGH', '1-URGENT']

In [14]:
value_new = ['Low', 'Medium', 'Unspecified', 'High', 'Urgent']
df_sales_modified['Order Priority'] = df_sales_modified['Order Priority'].replace(value_change,value_new)

In [15]:
df_sales_modified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28360 entries, 0 to 28359
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Record No                     28360 non-null  int64
 1   Order Id                      28360 non-null  int64
 2   Name                          28360 non-null  object
 3   State                         28360 non-null  object
 4   Region                        28360 non-null  object
 5   Sales Total                   28360 non-null  int64
 6   Gross Profit                  28360 non-null  float64
 7   Discount                      28360 non-null  float64
 8   Business Unit                 28360 non-null  object
 9   Product Group                 28360 non-null  object
 10  Product Line                  28360 non-null  object
 11  Product                       28360 non-null  object
 12  Order Priority                28360 non-null  object
 13  Order Date                    28360 non-null  datetime64[ns]
 14  Delivery Date                 28360 non-null  datetime64[ns]
 15  Ship Container                28360 non-null  object
 16  Market Segment                28360 non-null  object
 17  Shipping Method               28360 non-null  object
 18  Profit as a Percent of Sales  28360 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(11)
memory usage: 4.1+ MB

In [16]:
# Change decimal places for Profit Percent of Sales column to 2 decimal places

df_sales_modified['Profit as a Percent of Sales'] = df_sales_modified['Profit as a Percent of Sales'].round(2)

In [17]:
# Change the Discount column into percentage

df_sales_modified['Discount'] = (df_sales_modified['Discount']*100)

## Data Transformation

In [18]:
# Creating Discount Group Column

df_sales_modified['Discount Group'] = df_sales_modified['Discount'].apply(
                                        lambda x: "0%-3%" if 0<=x<3 else "3%-6%" if 3<=x<6 else "6%-9%" if 6<=x<9 else 
                                                "9%-12%" if 9<=x<12 else "12%-15%")

In [19]:
df_sales_modified['Discount Group'].unique()

array(['0%-3%', '9%-12%', '6%-9%', '12%-15%', '3%-6%'], dtype=object)

In [20]:
# Creating Delivery Period 

df_sales_modified['Delivery Period'] = (df_sales_modified['Delivery Date'] - df_sales_modified['Order Date']).dt.days
df_sales_modified['Delivery Period']

0        120
1        123
2        116
3        128
4         16
        ...
28355      3
28356      3
28357      3
28358      3
28359      3
Name: Delivery Period, Length: 28360, dtype: int64

In [21]:
df_sales_modified['Delivery Period'].unique()

array([120, 123, 116, 128,  16,  14,  17,  15,  13, 125, 126, 132, 121,
        26,  24,  27,  23,  25,  95, 127, 118, 117, 135, 113,  22, 130,
        18, 133,  97, 100, 124, 119, 129,  28, 115, 134, 131,  92, 122,
       111,  85, 112, 138,  89,  94, 114,  90,  93, 105,   6,   7, 102,
        99,  96, 106,   5,   4,   8,   2,   3,  11,  12,   1,  10,   9,
        19], dtype=int64)

In [22]:
# Creating Delivery Remarks based on defined set rule

df_sales_modified['Delivery Remarks'] = df_sales_modified['Delivery Period'].apply(
                                        lambda x: "Fast" if 0<=x<30 else "Slow" if 30<=x<120 else "Very Slow")
df_sales_modified['Delivery Remarks']

0        Very Slow
1        Very Slow
2             Slow
3        Very Slow
4             Fast
           ...
28355         Fast
28356         Fast
28357         Fast
28358         Fast
28359         Fast
Name: Delivery Remarks, Length: 28360, dtype: object

In [23]:
# Rename column Profit as a Percent of Sales to Profit Percentage

df_sales_modified = df_sales_modified.rename(columns={'Profit as a Percent of Sales': 'Profit Percentage'})

In [24]:
df_sales_modified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28360 entries, 0 to 28359
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Record No          28360 non-null  int64
 1   Order Id           28360 non-null  int64
 2   Name               28360 non-null  object
 3   State              28360 non-null  object
 4   Region             28360 non-null  object
 5   Sales Total        28360 non-null  int64
 6   Gross Profit       28360 non-null  float64
 7   Discount           28360 non-null  float64
 8   Business Unit      28360 non-null  object
 9   Product Group      28360 non-null  object
 10  Product Line       28360 non-null  object
 11  Product            28360 non-null  object
 12  Order Priority     28360 non-null  object
 13  Order Date         28360 non-null  datetime64[ns]
 14  Delivery Date      28360 non-null  datetime64[ns]
 15  Ship Container     28360 non-null  object
 16  Market Segment     28360 non-null  object
 17  Shipping Method    28360 non-null  object
 18  Profit Percentage  28360 non-null  float64
 19  Discount Group     28360 non-null  object
 20  Delivery Period    28360 non-null  int64
 21  Delivery Remarks   28360 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(4), object(13)
memory usage: 4.8+ MB

# Create new dataset from the original dataset

In [25]:
# Let split the dataset into two dataset for easier analyzing

new_dataset = ['Name', 'State', 'Region', 'Market Segment']

df_sales_product = df_sales_modified.drop(columns=new_dataset, axis=1)
df_sales_customer = df_sales_modified[['Order Id', 'Name', 'State', 'Region', 'Market Segment']]

In [26]:
df_sales_product.head(2)

,Record No,Order Id,Sales Total,Gross Profit,Discount,Business Unit,Product Group,Product Line,Product,Order Priority,Order Date,Delivery Date,Ship Container,Shipping Method,Profit Percentage,Discount Group,Delivery Period,Delivery Remarks
0,1,10000,2302,1067.59,0.0,Technology,Computer Peripherals,Keyboards,Logitech Cordless Access Duo,Low,2008-01-01,2008-04-30,Small Box,Regular Air,0.45,0%-3%,120,Very Slow
1,2,10000,997,358.35,10.0,Technology,Computer Peripherals,Modems,Motorola Sb4200 Cable Modem,Low,2008-01-01,2008-05-03,Small Box,Express Air,0.39,9%-12%,123,Very Slow

In [27]:
df_sales_customer = df_sales_customer.drop_duplicates().reset_index().drop(columns='index')

In [28]:
df_sales_customer.head(2)

   Order Id               Name        State   Region Market Segment
0     10000  Gilberto Matrejek  Mississippi  E S Cen    Home Office
1     10001    Caleb Weinbauer  Connecticut    N Eng      Corporate

In [29]:
# Rearranging both dataframe columns so it can be exported as tables for BI tool analyzation

rearrange_product = ['Record No','Order Id', 'Business Unit', 'Product Group', 'Product Line', 'Product', 'Discount', 
                     'Discount Group', 'Sales Total', 'Gross Profit', 'Profit Percentage', 'Order Date', 'Delivery Date', 
                     "Delivery Period", 'Delivery Remarks', 'Order Priority', 'Ship Container', 'Shipping Method']

In [30]:
df_sales_product = df_sales_product[rearrange_product]
df_sales_product.head(2)

,Record No,Order Id,Business Unit,Product Group,Product Line,Product,Discount,Discount Group,Sales Total,Gross Profit,Profit Percentage,Order Date,Delivery Date,Delivery Period,Delivery Remarks,Order Priority,Ship Container,Shipping Method
0,1,10000,Technology,Computer Peripherals,Keyboards,Logitech Cordless Access Duo,0.0,0%-3%,2302,1067.59,0.45,2008-01-01,2008-04-30,120,Very Slow,Low,Small Box,Regular Air
1,2,10000,Technology,Computer Peripherals,Modems,Motorola Sb4200 Cable Modem,10.0,9%-12%,997,358.35,0.39,2008-01-01,2008-05-03,123,Very Slow,Low,Small Box,Express Air

In [31]:
df_sales_product.tail(2)

,Record No,Order Id,Business Unit,Product Group,Product Line,Product,Discount,Discount Group,Sales Total,Gross Profit,Profit Percentage,Order Date,Delivery Date,Delivery Period,Delivery Remarks,Order Priority,Ship Container,Shipping Method
28358,28359,43565,Furniture,Chairs & Chairmats,Office Chairs,Safco Folding Chair Trolley,12.0,12%-15%,5084,1482.81,0.32,2011-12-28,2011-12-31,3,Fast,Unspecified,Medium Box,Regular Air
28359,28360,43565,Technology,Computer Peripherals,Media,Tdk 4.7Gb Dvd+Rw,2.0,0%-3%,277,104.38,0.38,2011-12-28,2011-12-31,3,Fast,Unspecified,Small Pack,Regular Air

In [32]:
df_sales_customer = df_sales_customer[['Order Id', 'Name', 'Market Segment', 'State', 'Region']]
df_sales_customer.head(2)

   Order Id               Name Market Segment        State   Region
0     10000  Gilberto Matrejek    Home Office  Mississippi  E S Cen
1     10001    Caleb Weinbauer      Corporate  Connecticut    N Eng

In [33]:
# Shape of these two dataset

print('Product Table:',df_sales_product.shape)
print('Customer Table:',df_sales_customer.shape)

Product Table: (28360, 18)
Customer Table: (14264, 5)

In [34]:
# Exporting the both tables to csv

df_sales_product.to_csv(r'modified_dataset/Sales_product.csv', index = False)
df_sales_customer.to_csv(r'modified_dataset/Sales_customer.csv', index = False)